<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<section class="resume-section p-3 p-lg-5 d-flex" id="about">
    <div class="w-100">
        <div class="card-columns">
            <ng-container *ngIf="items">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button (click)="open(content,'')" class="btn btn-success" type="button">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <input [(ngModel)]="searchText" type="text" class="form-control" name="search" autocomplete="off">
                    <div class="input-group-append">
                        <button class="btn btn-warning" type="button" id="button-addon2">Search</button>
                    </div>
                </div>

                <div class="card" *ngFor="let item of items | filter:searchText">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}
                            <a (click)="open(content,item.id)" href="javascript:;" class="d-none"><i class="fa fa-edit"></i></a>
                        </h5>
                        <p class="card-text">{{item.description}}</p>
                        <a (click)="deleteItem(deleteModel, item.id)" href="javascript:;">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>


<ng-template #deleteModel let-modal >
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Item deletion</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <p><strong>Are You Sure You Want To Delete<span class="text-primary">this item</span>?</strong></p>
      <p>All information associated to this item will be permanently deleted.
        <span class="text-danger">This operation can not be undone</span>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
    </div>
</ng-template>

<ng-template #content let-modal >
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Item details</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
<app-notes-show [itemId]="itemId" (items)="getUpdatedItems($event)"></app-notes-show>
<ng-template>

